@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ProLab</h1>
    <p> Bem vindo/a ao nosso laboratorio <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
